<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>


    

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 17px Raleway;
    padding: 10px 10px;
    
}



    </style>
    {% load static %}
</head>
<body>


 
    
    <nav class="navbar-expand-lg navbar-dark" >
        <div class="container red topBotomBordersOut">
        <div class="navbar-header ml-auto">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navone">
                <span class="navbar-toggler-icon "></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navone">
            <ul class="navbar-nav " >
              

                </li>
                <li class="nav-item ml-3 mr-2">
                    <a href="{% url 'createvideo' %}">CREATE VIDEOS</a>
       
                </li>
                <li class="nav-item ml-3 mr-2">
                    <a href="{% url 'videolists' %}">LIST VIDEOS</a>
       
                </li>
                <li class="nav-item ml-3 mr-2">
                    <a href="{% url 'createplan' %}">CREATE PLAN </a>
       
                </li>
                <li class="nav-item ml-4 mr-n3">
                    <a href="{% url 'planlists' %}">LIST PLAN </a>
       
                </li>
                <li class="nav-item ml-2 mr-1">
                    <a href="{% url 'userlists' %}">LIST USERS </a>
       
                </li>
                <li class="nav-item ml-3 mr-2">
                    <a href="{% url 'reveniew' %}">REVENIEW </a>
       
                </li>
                <li class="nav-item ml-3 mr-2">
                    <a href="{% url 'subscriberlist' %}">SUBSCRIBERS </a>
       
                </li>
           
                
                <li class="navbar-nav">
                    <!-- <a href="{% url 'logout_view' %}">LOGOUT</a>  -->
       <button data-toggle="modal" data-target="#myModal" class="btn btn-outline-warning delete-btn">Logout</button>
   </td>
</tr>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <form id="deleteForm" method="post" action="{% url 'logout_view' %}">
               {% csrf_token %}
               <div class="modal-header">
                   <h5 class="modal-title" id="myModalLabel">Confirm Logout</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   Are you sure you want to logout"?
               </div>
               <div class="modal-footer">
                   <button type="submit" class="btn btn-danger">Logout</button>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
           </form>
       </div>
   </div>
</div>


      </div>


    
</nav>


         
        </div>
    </div>
</nav>