

{% extends 'layout/app-layout.html' %}
{% block 'content' %}
{%load static %}
<style>
    h1{
    font-size: 45px;
    text-align: center;
    font-weight: 120;
   
    font-family:'Times New Roman', Times, serif;
     color: #2a2443;
    }
</style>
<br>
<h1>
    Hello! Lets,create plans
</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-form">
               
                <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_title" style="color: azure;font-size:20px ;">Title:</label>
                     <input type="text" name="title" maxlength="150" class="form-control" required=""  placeholder="enter the title" id="id_title">
                             <div class="form-group">
                     <label for="id_duration" style="color: azure;font-size:20px ;">Duration:</label>
                            <input type="number" name="duration" required="" id="id_duration" class="form-control" placeholder="enter the duration">
                                    
                <div class="form-group">
                    <label for="id_description" style="color: azure;font-size:20px ;">Description:</label>
                    <textarea name="description" cols="40" rows="1" maxlength="1200" class="form-control" placeholder="enter the description" required="" id="id_description"></textarea>
                        
                <div class="form-group">
                    <label for="id_price" style="color: azure;font-size:20px ;">Price:</label>
                    <input type="number" name="price" class="form-control" required="" id="id_price">
                        <br>
                                    
                <button type = "submit" value="submit" class = "btn  form-control btn-primary" style="color: rgb(3, 7, 11);" >Submit</button>    </form>



{%endblock%}